<h1>Create New Book</h1>

<%= form_for @book do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title, id: "title"%>
  </p>

  <p>
    <%= f.label :price %>
    <%= f.text_field :price, id: "price"%>
  </p>

  <p>
    <%= f.label :quantity %>
    <%= f.text_field :quantity, id: "quantity" %>
  </p>

  <%= f.submit %>

<% end %>
